<html>
  <head>
    <title> Lista Animes </title>
    <style>
      #lista_animes{
        background-color: orange;
      }

    </style>
  </head>
  <body>
    <ul id="lista_animes">
      <li> Nanatsu no Taizai </li>
      <li> Boku no Hero Academia </li>
    </ul>
    <input type="text" name="newEL"/>
    <button> Add Element </button>
  </body>
</html>
